packages:
  yum:
    ghostscript: []
    gcc-c++: [] 
    make: []
    git: []
    cairo: []
    cairo-devel: []
    libjpeg-turbo-devel: []
    giflib-devel: []
    libpng-devel: []
    dbus-glib: []
    strace: []
files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/52install_office_libre.sh":
    mode: "000775"
    owner: root
    group: users
    content: |
      #!/bin/bash
      function error_exit
      {
        eventHelper.py --msg "$1" --severity ERROR
        exit $2
      }
      echo "*****************************************"
      echo " 1. Download and Untar LibreOffice"
      echo "*****************************************"
      cd /tmp
      if [ ! -d "/tmp/LibreOffice_6.0.5.2_Linux_x86-64_rpm/RPMS" ]; then 
        wget http://download.documentfoundation.org/libreoffice/stable/6.0.5/rpm/x86_64/LibreOffice_6.0.5_Linux_x86-64_rpm.tar.gz
        sudo tar -xvf LibreOffice_6.0.5_Linux_x86-64_rpm.tar.gz
        cd /tmp/LibreOffice_6.0.5.2_Linux_x86-64_rpm/RPMS
        yes | sudo yum localinstall *rpm
      fi
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/53install_texlive.sh":
    mode: "000775"
    owner: root
    group: users
    content: |
      #!/usr/bin/env bash
      cd /tmp
      if [ ! -d "/tmp/texlive" ]; then 
        wget http://mirror.ctan.org/systems/texlive/tlnet/install-tl-unx.tar.gz
        tar -xvzf install-tl-unx.tar.gz
        cd install-tl-*
        wget https://raw.githubusercontent.com/unshift/pdflatex/master/texlive.profile
        ./install-tl -no-gui -profile texlive.profile
        tar c texlive | gzip --best > texlive.tar.gz
      fi
      
container_commands:
  02_fix_perm: 
    command: 'echo "nodejs ALL = NOPASSWD: /opt/libreoffice6.0/program/soffice" >> /etc/sudoers'
    test: '! grep -q "libreoffice" "/etc/sudoers"'
    ignoreErrors: true
  98_fix_perm:
    command: "sudo chown root:root /opt/libreoffice6.0/program/soffice"  
    ignoreErrors: true
  99_fix_perm:
    command: "sudo chmod 4775 /opt/libreoffice6.0/program/soffice"
    ignoreErrors: true